<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
  <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
   <h1>{{htmlWebpackPlugin.options.title}}</h1>
  <div id="root"></div>
</body>

</html>