.q-swiper {
  display: flex;
  //   flex-wrap: nowrap;
  &__wrap {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
  }

  &__item {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
  }
}
