.q-swiper {
  display: flex;
  //   flex-wrap: nowrap;
  &__wrap {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
  }

  &__item {
    height: 200px;
    width: 200px;
    text-align: center;
    background: gray;
    color: rebeccapurple;
    font-size: 50px;
    flex-shrink: 0;
  }
}
