.block {
  height: 300px;
  border: 1px solid gray;
}
.top {
  background: red;
  margin-bottom: 30px;
}
.bottom {
  background: gold;
}
h1 {
  font-size: 16px;
}
.line {
  border: 1px solid green;
  height: 100px;
  margin: 30px;
}
